$cols: (1, 2);

main {
  display: grid;
  row-gap: 100px;
  column-gap: 40px;

  & > .col {
    grid-row: 1 / 2;

    &#first {
      @media screen and (min-width: 768px) {
        grid-column: 1 / 2;
      }
    }

    &#second {
      @media screen and (min-width: 768px) {
        grid-column: 2 / 3;
      }
      @media screen and (max-width: 768px) {
        grid-row: 2 / 3;
      }
    }
  }
}

form {
  display: grid;

  justify-content: space-evenly;
  align-items: center;

  row-gap: 10px;

  width: 100%;

  label {
    font-weight: bold;
    grid-column: 1 / 2;
  }

  input {
    grid-column: 2 / 4;
  }

  button {
    grid-row: 5;
    grid-column: 1 / 4;
    padding: 10px 0;
  }

  #err {
    color: red;
    grid-column: 1 / 4;
  }
}
