$cols: (1, 2);

main {
  display: grid;
  row-gap: 100px;
  column-gap: 40px;

  & > .col {
    grid-row: 1 / 2;

    &#first {
      @media screen and (min-width: 768px) {
        grid-column: 1 / 2;
      }
    }

    &#second {
      @media screen and (min-width: 768px) {
        grid-column: 2 / 3;
      }
      @media screen and (max-width: 768px) {
        grid-row: 2 / 3;
      }
    }
  }
}
